/* COMMON */
body{
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4; /*배수로 주는게 정신건강에 조타*/
    font-family: 'Nanum Gothic', sans-serif;
    height: 3000px;
}
a{
    text-decoration: none;
}

.en{
    font-family: arial, HelveticaNeue, DroidSans, Sans-serif, Helvetica;
}

.inner{
    position: relative;
    width: 1100px;
    margin: 0 auto;
}
 .strong{
    font-weight: 800;
 }

 .btn{
    display: inline-block;
    padding: 8px 20px;
    box-sizing: border-box;
    border: 2px solid currentColor;
    /* currentColr: 부모가 가진 컬러값들을 상속받게? */
    border-radius: 5px;
 }

 .btn--reverse{
    background-color: #00704a;
    border-color:#00704a ;
    color: white;
 }

 .btn--reverse:hover{
    text-decoration: underline;
 }

 .btn--white{
    border-color: white;
    color: white;
 }

 .btn--white:hover{
    text-decoration: underline;
 } 

 .btn--lightgreen{
    border-color: #00704a;
    color: #00704a;
    transition:background-color .4s;
 }

 .btn--lightgreen:hover{
    background-color: #00704a;
    color: white;
    text-decoration: underline;
 }

 .btn--darkgreen{
    border-color: #1c3831;
    color: #1c3831;
    transition:background-color .4s;
 }
 .btn--darkgreen:hover{
    background-color: #1c3831;
    color: white;
    text-decoration: underline;
 } 

 .btn--gold{
    border-color: #b9813e;
    color: #b9813e;
    transition: background-color .4s;
 }

 .btn--gold:hover{
    background-color: #b9813e;
    color: white;
    text-decoration: underline;

 }

 .btn--black{
    color: black;
    border-color: black;
    transition: background-color .4s;
 }

 .btn--black:hover{
    background-color: black;
    color: white;
    text-decoration: underline;
 }
/* HEADER */
header{
    z-index:1;
    width: 100%;
    position: fixed;
    background-color: #f6f5ef;
    border: 1px solid #c8c8c8;
    top: 0;
}

header>.inner {
    background-color: #f6f5ef;
    height: 120px;
}


/*logo*/
header .inner a.logo{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 75px;/*높이 기준이 있어야, 세로 중앙정렬이 됨*/
}

header .inner .logo img{
    display: block;
}

/*sub-menu*/
header .inner .sub_menu{
    display: flex;
    position: absolute;
    right: 10px;
    top: 10px;
}

header .inner .sub_menu .menu{
    display: flex;
}

header .inner .sub_menu .menu li{
    line-height: 32px;
    /*글자사이즈+ 상하 패딩=32*/
}

header .inner .sub_menu .menu li:not(:last-child)::after{
    content: "|";
    font-size: 12px;
    color: #c8c8c8;
}

header .inner .sub_menu .menu li a{
    font-size: 12px;
    color: #656565;
    padding: 10px 15px;
    text-decoration: none;
}

header .inner .sub_menu .menu li a:hover{
    text-decoration: underline;
}

/*search*/

header .inner .search{
    position: relative;
}

header .inner .search input{
    width: 40px;
    height: 34px;
    transition: 0.4s;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

header .inner .search input:focus{
    width: 180px;
    outline-color: #1e39;
    font-size: 16px;
    padding: 0 10px;
}

header .inner .search span{
    position: absolute;
    right: 3px;
    font-size: 24px;
    height: 24px;
    top: 0;
    bottom: 0;
    margin: auto;
}

/*main menu*/

header .inner .main_menu{
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
}

header .inner .main_menu .item .item__name{
    padding: 10px 20px 34px 20px;
    font-size: 13px;
}

header .inner .main_menu .item:hover .item__name{
    Background-color: #2c2a29;
    Color: #669900;
    text-decoration: underline;
    cursor: pointer;
}

header .inner .main_menu .item .item__content{
    position: fixed;
    width: 100%;
    left: 0;
    display: none;    
}

header .inner .main_menu .item:hover .item__content{
    position: fixed;
    width: 100%;
    left: 0;
    display: block;  
}

header .inner .main_menu .item .item__content .item__content__menu{
    Background-color: #2c2a29;
    padding: 20px 0;
    width: 100%;
}

header .inner .main_menu .item .item__content .item__content__menu .inner{
    display: flex;
    flex-wrap: wrap;
}
header .inner .main_menu .item .item__content .item__content__menu .inner>li{
    width: 200px;
    padding-right: 20px; 
}

header .inner .main_menu .item .item__content .item__content__menu .inner>li>a{
    color: white;
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
}

header .inner .main_menu .item .item__content .item__content__menu .inner>li>a:hover{
    text-decoration: underline;
}

header .inner .main_menu .item .item__content .item__content__menu .inner>li>ul>li{
    color: #999;
    font-size: 12px;
    margin: 5px 0;
}

header .inner .main_menu .item .item__content .item__content__menu .inner>li>ul>li:hover{
    text-decoration: underline;
    cursor:pointer;
}
/*main-dropdown*/
header .inner .main_menu .item .item__content .item__content__additional{
    background-image: url("../images/main_menu_pattern.jpg");
    background-repeat: repeat;
   padding: 20px 0px;
   width: 100%;
}

header .inner .main_menu .item .item__content .item__content__additional .inner>p{
    font-size: 12px;
    color: #669900;

}

header .inner .main_menu .item .item__content .item__content__additional .inner>a{
    font-size: 12px;
    color:#999;
    margin-top: 5px;
    display: block;
}

header .inner .main_menu .item .item__content .item__content__additional .inner>a:hover{
    text-decoration: underline;
}

header .badges{
    position: absolute;
    top: 150px;
    right: 20px;
}

header .badges .badge>a{
    display: block;
}


/* VISUAL */

.visual{
    background-image: url("../images/visual_bg.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    margin-top: 120px;
}

.visual .inner{
    height: 646px;
    position: relative;
}

.visual .inner .slogan{
    opacity: 0;
    position: absolute;
    top: 88px;
    transition: .4s;
}

.visual .inner .slogan>.btn{
   
    display: block;
    width: 129px;
    height: 38px;
    color: #1c3831;
    margin-top: 30px;
    /* transition: background-color .5s; */
    transition: .5s;
    opacity: 0;
}

.visual .inner .slogan>a.button:hover{
    color: white;
    background-color: #1c3831;
    text-decoration: underline;
    font-weight: bold;
}

.visual .inner>.image{
    position: absolute;
}

.visual .inner>.image.item1{
    width: 260px;
   
    top: 88px;
    right: 210px;
    opacity: 0;
    transition: .4s;
}

.visual .inner>.image.item2{
    width: 590px;
    top: 200px;
    left: 30px;
    opacity: 0;
    transition: .4s;
}

.visual .inner>.image.item3{
    width: 370px;
    bottom: 50px;
    right: -120px;
    opacity: 0;
    transition: .4s;
}

.visual .inner:hover .image.item1{
    opacity: 1;
    transition-delay: 0.4s;
}

.visual .inner:hover .image.item2{
    opacity: 1;
    transition-delay: 0.8s;
}

.visual .inner:hover .image.item3{
    opacity: 1;
    transition-delay: 1.2s;
}

.visual .inner:hover .slogan{
    opacity: 1;
}

.visual .inner:hover .slogan .btn{
    opacity: 1;
    transition-delay: 1.5s;
}

/*section- NOTICE */

.notice .notice_line{
    position: relative; /*기준을 세우는 것*/
}

.notice .notice_line .bg_left{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: #111111;
}

.notice .notice_line .bg_right{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background-color: #f6f5ef;
}

.notice .notice_line .inner{
    height: 62px;
    display: flex;
}

.notice .notice_line .inner .inner__left{
    position: relative;
    width: 60%;
    height: 100%;
    background-color: #111111;
    display: flex;
    align-items: center;
    color: white;
}

.notice .notice_line .inner .inner__left h1{
    font-weight: bold;
    position: absolute;
    left: 0;/*.inner의 왼쪽에 붙도록*/
}

.notice .notice_line .inner .inner__left .swiper_container{
    position: absolute;
    left: 80px;
    flex-grow: 1;/*화면 넓이에 따라서 길이가 늘어나도록,*/
}

.notice .notice_line .inner .inner__left a{
    position: absolute;
    right: 20px;
    color: white;
}

.notice .notice_line .inner .inner__left a span{
    font-size: 36px;
    vertical-align: bottom;
}

.notice .notice_line .inner .inner__right{
    position: relative;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    color: #111111;
}

.notice .notice_line .inner .inner__right h1{
    position: absolute;
    font-weight: bold;
    right:150px;
}

.notice .notice_line .inner .inner__right a{
    position: absolute;
    right: 30px;
    color: #111111;
}

.notice .notice_line .inner .inner__right a span{
    font-size: 36px;
    vertical-align: bottom; 
}

/* section-REWARDS */
.rewards{
    background-color: #1e3932;
}

.rewards .inner{
    padding: 30px 0 40px 0;
    display: flex;
    gap: 20px;
}

.rewards .inner>a>img{
    width: 176px;
    display: block;
}

.rewards .inner .rewards__items{
    flex-grow: 1;
}

.rewards .inner .rewards__items .rewards__items__register{
    position: relative; /*button위치 기준이 되라고*/
    /*가운데 수평선*/
    box-shadow: 0 0.3px #c8c8c8;
    padding-bottom: 12px;
}

.rewards .inner .rewards__items .rewards__items__register p{
    display: block;/*마진 패딩 값을 먹게 하기 위해*/
    font-size: 17px;
    color: white;
}

.rewards .inner .rewards__items .rewards__items__register p.subject{
    font-size: 26px;
    margin-bottom:10px;
}

.rewards .inner .rewards__items .rewards__items__register .buttons{
    position: absolute;
    right: 0;
    bottom: 12px;
    
}

.rewards .inner .rewards__items .rewards__items__card{
    position: relative;
}

.rewards .inner .rewards__items .rewards__items__card p{
    padding-top: 20px;
    font-size: 14px;
    color: white;
}

.rewards .inner .rewards__items .rewards__items__card .buttons{
    position: absolute;
    right: 0;
    top: 20px;
}

/*section-peru*/
.peru{
    position: relative;
    background-image: url("../images/peru_bg.jpg") ;
    height: 570px;
    overflow: hidden;
}

/*tiger bird image*/

.peru::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    background-image: url("../images/peru_bg_left.png");
    background-size:cover ;
    background-repeat: no-repeat;
    width: 360px;
    height: 360px;
}

.peru::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    background-image: url("../images/peru_bg_right.png");
    background-size:cover ;
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
}

.peru .inner{
    height: inherit;
}

.peru .inner .img_product{
    position: absolute;
    display: block;
    width: 310px;
    top: 70px;
    left: 210px;
    transform: translate(-300px,0);
    transition: 2.5s;
    opacity: 0;
}

.peru .inner:active .img_product{
    transform: translate(0px,0);
    opacity: 1;
}

.peru .inner .peru__contents{
    position: absolute;
    top: 160px;
    right: 50px;
    transform: translate(300px,0);
    transition: 2.5s;
    opacity: 0;
}

.peru .inner:active .peru__contents{
    transform: translate(0px,0);
    opacity: 1;
}

.peru .inner .peru__contents>img{
    width: 427px;
}

.peru .inner .peru__contents .btn{
    display: block;
    width: 125px;
    margin-top: 10px; 
}

/* section-INDONESIA */
.indonesia{
    background-image: url("../images/indonesia_bg.jpg");
    height: 400px;
    overflow: hidden;
    position: relative;
}
.indonesia::after{
    content: "";
    background-image: url("../images/indonesia_bg_right.png");
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

.indonesia::before{
    content: "";
    background-image: url("../images/indonesia_bg_left.png");
    position: absolute;
    bottom: 0;
    left: 0;
    width: 283px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

.indonesia .inner .indonesia__img{
    position: absolute;
    right: 100px;
  
}

.indonesia .inner .indonesia__title{
    position: absolute;
    
    top: 115px;
   
}

.indonesia .inner>.btn{
    position: absolute;
    top:269px;
    left: 245px;
}

/* PICK YOUR FAVORITE */
.favorite{
    height: 800px;
    background-image: url("../images/fav_bg.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.favorite .inner{
    height: inherit;
}

.favorite .inner>img{
    position: absolute;
}

.favorite .inner>img:nth-child(1){
    top: 100px;
    left:154px;
    transition: 1.4s;
    transform: translate(-400px,0);
    opacity: 0;
}

.favorite .inner:hover>img:nth-child(1){
    transform: translate(0,0);
    opacity: 1;
}

.favorite .inner>img:nth-child(2){
    left: 50px;
    bottom: 300px;
    transition: 2.8s;
    transform: translate(-400px,0);
    opacity: 0;
}

.favorite .inner:hover>img:nth-child(2){
    transform: translate(0,0);
    opacity: 1;
}

.favorite .inner>img:nth-child(3){
    right: -130px;
    top: 50px;
}

.favorite .inner>a.btn{
    transition:background-color .4s;
    position: absolute;
    bottom: 100px;
    left: 280px;
}
.favorite .inner>a.btn:hover{
    background-color: white;
    color: #111111;
}

/* section-MAGAZINE */
.magazine{
    height: 400px;
    background-image: url("../images/magazine_bg.png");
    background-size: contain;
}

.magazine .inner{
    height: inherit;
}

.magazine .inner .magazine__title{
    position: absolute;
    top: 120px;
    left: 50px;
}

.magazine .inner .magazine__img{

    right: 50px;
    top: 0;
    position: absolute;
    transition: 1.5s;
    opacity: 0;
    
}

.magazine .inner:hover .magazine__img{
    opacity: 1;
}

.magazine .inner>a.btn{
    position: absolute;
    bottom: 120px;
    left: 350px;
}

/* section-FIND_STORE */

.find_store{
    height: 400px;
    background-image: url("../images/store_bg.jpg");
    overflow: hidden;
}

.find_store .inner{
    height: inherit;
}

.find_store .inner>*{
    position: absolute;
}
.find_store .inner>img:nth-child(1){
    
    left: 160px;
    transition: 1.7s;
    opacity: 0;
}

.find_store .inner>img:nth-child(2){
    left: 390px;
    top: 149px;
    transition:1.5s;
    opacity: 0;
}

.find_store .inner:hover>img:nth-child(1){
    opacity: 1;
}

.find_store .inner:hover>img:nth-child(2){
    opacity: 1;
}


.find_store .inner>img:nth-child(3){
    top:-50px ;
    right: 290px;
}

.find_store .inner>img:nth-child(4){
    bottom: 0;
    right: 0;
}

.find_store .inner>img:nth-child(5){
    right: 79px;
    top: 100px;
    transition: 1.3s;
}

.find_store .inner>img:nth-child(6){
    right:98px;
    top: 168px;
    transition: 2s;
}

.find_store .inner>a.btn{
    right: 357px;
    bottom: 100px;
    transition: 2.7s;
}
.find_store>.inner>.ani--transform{
    opacity: 0;
    transform: translate(500px,0);
}
.find_store>.inner:hover .ani--transform{
    transform: translate(0,0);
    opacity: 1;
}
/* FOOTER */
footer{
    height: 500px;
    background-color: #2c2a29;
}

footer .inner ul.footer__menu{
    display: flex;
    justify-content: space-between;
    padding-top:80px;
    box-sizing: border-box;
}

.footer__menu a{
    color: white;
    line-height: 2;
}

footer a:hover{
    text-decoration: underline;
}

footer .inner>.footer__menu>li>a{
    font-size: 14px;
    display: block;
    padding-bottom: 10px;
}

footer .inner>.footer__menu>li>ul>a{
    font-size: 12px;
}

/* footer-copyright */
/*footer-개인정보처리방침*/

footer .inner .copyright{
    margin-top: 10px;
}

footer .inner .copyright>ul{
    display: flex;
}/*ul전체 flex?*/

footer .inner .copyright .copyright__terms{
    justify-content: center;
}

footer .inner .copyright .copyright__terms>li:first-child>a{
    color:#00b050;
}

footer .inner .copyright .copyright__terms>li>a{
    display: inline-block;
    color: #cccccc;
    font-size: 12px;
    padding: 10px 0;
   
}

footer .inner .copyright .copyright__terms>li:not(:last-child)::after{
    content: "|";
    color: #333;
    margin: 0 10px;
}

footer .inner .copyright .btn_group{
    text-align: center;
}

footer .inner .copyright .btn_group a{
    font-size: 12px;
    margin: 0 4px;
}

footer .inner .copyright .song_davidhosub{
    justify-content: center;
    color: #999999;
    font-size: 12px;
    padding: 25px 0 5px 0;
}

footer .inner .copyright>.song_davidhosub>li:not(:last-child):after{
    content: "|";
    color: #323232;
    margin:0 7px;
}


footer .last_String{
    text-align: center;
    color:#999999;
    font-size: 12px;
    line-height: 40px;
}